DATABASE_URL=
PORT=4444
SOCKET_PORT=8888
ESPN_SERVER="http://site.api.espn.com"
ESPN_BASIC_URI="apis/site/v2/sports/basketball/nba"
ESPN_SCOREBOARD_API="scoreboard"
ESPN_SUMMARY_API="summary?event="
FETCH_INTERVAL=30 # seconds
